click==8.1.7
grpcio==1.60.1
grpcio-tools==1.60.1
overrides==7.7.0
protobuf==4.25.2
robotframework==7.0
robotframework-assertion-engine==3.0.3
robotframework-browser==18.1.0
robotframework-pythonlibcore==4.3.0
setuptools==69.0.3
typing_extensions==4.9.0
wrapt==1.16.0
